// ####################
// FLEX BOX
// ####################

// DISPLAY/DIRECTION

.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-row-reverse {
	display: flex;
	flex-direction: row-reverse;
}
.flex-column-reverse {
	display: flex;
	flex-direction: column-reverse;
}
.inline-flex-row {
	display: inline-flex;
	flex-direction: row;
}
.inline-flex-column {
	display: inline-flex;
	flex-direction: column;
}
.inline-flex-row-reverse {
	display: inline-flex;
	flex-direction: row-reverse;
}
.inline-flex-column-reverse {
	display: inline-flex;
	flex-direction: column-reverse;
}

// JUSTIFY CONTENT

.content-start {
	justify-content: flex-start;
}
.content-end {
	justify-content: flex-end;
}
.content-center {
	justify-content: center;
}
.content-space-between {
	justify-content: space-between;
}
.content-space-around {
	justify-content: space-around;
}
.content-space-evenly {
	justify-content: space-evenly;
}

// ALIGN ITEMS

.items-start {
	align-items: flex-start;
}
.items-end {
	align-items: flex-end;
}
.items-center {
	align-items: center;
}
.items-baseline {
	align-items: baseline;
}
.items-stretch {
	align-items: stretch;
}

// ALIGN SELF

.self-auto {
	align-self: auto;
}
.self-start {
	align-self: flex-start;
}
.self-end {
	align-self: flex-end;
}
.self-center {
	align-self: center;
}
.self-baseline {
	align-self: baseline;
}
.self-stretch {
	align-self: stretch;
}

// WRAP

.flex-wrap {
	flex-wrap: wrap;
}
.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}
.flex-nowrap {
	flex-wrap: nowrap;
}

// GROW/SHRINK

@for $i from 0 through 10 {
	.grow-#{$i} {
		flex-grow: #{$i};
	}
}

@for $i from 0 through 10 {
	.shrink-#{$i} {
		flex-shrink: #{$i};
	}
}
