// ####################
// HEIGHT AND WIDTH
// ####################

// HEIGHT %

@for $i from 1 through 100 {
	.h-#{$i} {
		height: #{$i * 1%} !important;
	}
}

// HEIGHT VH

@for $i from 1 through 100 {
	.h-#{$i}vp {
		height: #{$i}vh !important;
	}
}

// WIDTH %

@for $i from 1 through 100 {
	.w-#{$i} {
		width: #{$i * 1%} !important;
	}
}

// WIDTH VW

@for $i from 1 through 100 {
	.w-#{$i}vp {
		width: #{$i}vw !important;
	}
}
